.meu-sonho p{
    float: left;
    text-align: center;
    width: 60%;
    line-height: 1.9;
}

.local-hangar{
    float: right;
    width: 30%;
    text-align: center;
}

.local-guilhotina{
    float: left;
    width: 30%;
    text-align: center;
}

.imagem_hangar_varig_80{
    width: 300px;
    box-sizing: border-box;
}

.novos-horizontes-parte-1{

}

.novos-horizontes-parte-2{
    float: right;
    width: 60%;
}

.novos-horizontes-parte-2 p{
    line-height: 1.9;
}

.novos-horizontes-parte-3{
    float: right;
    width: 20%;
}

.novos-horizontes-parte-3 p{
    text-align: center;
    line-height: 1.9;
}

.imagem_maquina_cortar_grafica{
    width: 300px;
    box-sizing: border-box;
}

.local-dobradeira{
    text-align: center;
    width: 30%;
    float: left;
    position: relative;
    top: 52px;
}

.imagem_maquina_dobrar_grafica{
    width: 300px;
    box-sizing: border-box;
}

.local-tipografica-catu{
    text-align: center;
    width: 30%;
    float: right;
    position: relative;
    top: 52px;
}

.imagem_maquina_tipografica_catu_grafica{
    width: 300px;
    box-sizing: border-box;
}

.local-davidson-offset{
    text-align: center;
    width: 30%;
    float: right;
}

.imagem_maquina_davidsonson_offset_grafica{
    width: 300px;
    box-sizing: border-box;
}

.novos-horizontes-parte-4{
    clear: both;
    float: left;
    width: 60%;
    position: relative;
    top: 40px;
}

.novos-horizontes-parte-4 p{
    line-height: 1.9;
}

.novos-horizontes-parte-5{
    clear: both;
    float: right;
    width: 60%;
    position: relative;
    top: 70px;
}

.local-solna-125-offset{
    text-align: center;
    width: 30%;
    float: left;
}

.imagem_maquina_solna_125_offset_grafica{
    width: 300px;
    box-sizing: border-box;
}