.meu-sonho p{
    float: left;
    text-align: center;
    width: 60%;
    line-height: 1.9;
}

/*configurando tempo de abertura de imagem e tamanho máximo para dar o efeito zoom*/
figure img {
  max-width: 100%;
  -moz-transition: all 1.0s;
  -webkit-transition: all 1.0s;
  transition: all 1.0s;
}

/*ativando o zoom das imagens*/
figure:hover img {
    /*da efeito esfumaçado na imagem*/
    box-shadow: 0px 0px 150px #000000;
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(3.0);
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(3.0);
    transition: all 200ms ease-in;
    transform: scale(3.0);
}

/*configuração das imagens*/
figure img {
    width: 300px;
    /*configura a prioridade da imagem*/
    z-index: 2;
    box-sizing: border-box;
}

/*configurando tamanho de todas as figuras*/
figure{
    width: 30%;
    text-align: center;
}

/*configuração do local onde vai a imagem*/
.local-hangar{
    float: right;
}

/*configuração do local onde vai a imagem*/
.local-guilhotina{
    float: left;
}

/*configuração do local onde vai a imagem*/
.local-dobradeira{
    float: left;
    position: relative;
    top: 52px;
}

/*configuração do local onde vai a imagem*/
.local-tipografica-catu{
    float: right;
    position: relative;
    top: 52px;
}

/*configuração do local onde vai a imagem*/
.local-davidson-offset{
    float: right;
}

/*configuração do local onde vai a imagem*/
.local-solna-125-offset{
    float: left;
}

/*CONFIGURAÇÃO DOS TEXTOS*/
.novos-horizontes-parte-1{

}

.novos-horizontes-parte-2{
    float: right;
    width: 60%;
}

.novos-horizontes-parte-2 p{
    line-height: 1.9;
}

.novos-horizontes-parte-3{
    float: right;
    width: 20%;
}

.novos-horizontes-parte-3 p{
    text-align: center;
    line-height: 1.9;
}

.novos-horizontes-parte-4{
    clear: both;
    float: left;
    width: 60%;
    position: relative;
    top: 40px;
}

.novos-horizontes-parte-4 p{
    line-height: 1.9;
}

.novos-horizontes-parte-5{
    clear: both;
    float: right;
    width: 60%;
    position: relative;
    top: 70px;
}