* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
    margin: auto;
    background-color: rgb(248, 248, 248);
    padding: 0 10px;
}

body p{
    font-family: 'Indie Flower', cursive;
    text-align: justify;
    font-size: 14pt;
    line-height: 1.5;
}

.body-principal{
    width: 1024px;
    margin-top: 110px;
    margin-bottom: 60px;
}

.conteudo a{
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    color: #696969;
}

.conteudo h2{
    text-transform: uppercase;
    clear: both;
    margin: 0;
}

.conteudo a:hover{
    text-decoration: underline;
    color: blue;
}

.clear-fix{
    clear: both;
}

.iFrame-temporario{
    width: 1024px;
    height: 3500px;
    border: 0;
}

.header-principal{
    border: 1px solid pink;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(55, 89, 85);
    background: -moz-linear-gradient(top, rgb(55, 89, 85), rgb(55, 100, 100));
    background: -o-linear-gradient(top, rgb(55, 89, 85), rgb(55, 100, 100));
    background: -webkit-linear-gradient(top, rgb(55, 89, 85), rgb(55, 100, 100));
    background: -ms-linear-gradient(top, rgb(55, 89, 85), rgb(55, 100, 100));
    color: white;
}

.header-principal h1{
    margin: 10px 0;
    padding-left: 15px;
    float: left;
    display: block;
    width: 60%;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    /*font-family: 'Shrikhand', cursive;*/
}

.header-principal nav{
    float: right;
    display: block;
    width: 40%;
    box-sizing: border-box;
    text-align: right;
    padding-right: 30px;
}

.header-principal nav ul{
    list-style: none;
}

.header-principal nav ul li{
    display: inline-block;
    padding-right: 10px;
}

.header-principal nav ul li a{
    text-decoration: none;
    color: white;
}

.header-principal nav ul li a:hover{
    text-decoration: underline;
}

.main{
    clear: both;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: rgb(55, 89, 85);
    background: -moz-linear-gradient(top, rgb(55, 89, 85), rgb(55, 100, 100));
    background: -o-linear-gradient(top, rgb(55, 89, 85), rgb(55, 100, 100));
    background: -webkit-linear-gradient(top, rgb(55, 89, 85), rgb(55, 100, 100));
    background: -ms-linear-gradient(top, rgb(55, 89, 85), rgb(55, 100, 100));
    color: white;
}

.footer-register{
    /*padding: 3px 5px;*/
    box-sizing: border-box;
    float: left;
    width: 300px;
    text-align: center;
}

.footer-social{
    box-sizing: border-box;
    float: right;
    width: 300px;
    display: block;
    position: relative;
    top: -10px;
}

.footer-social ul{
    list-style: none;
}

.footer-social ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.footer-social ul li a{
    text-decoration: none;
    color: white;
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
}

.footer-social-github{
    background-image: url(../img/github.png);
}

.footer-social-linkedin{
    background-image: url(../img/linkedin.png);
}

.footer-social-twitter{
    background-image: url(../img/twitter.png);
}