body{
    font-family: "Crimson Text", serif;
    background-color: #F2FFFC;
}
h1, h2{
    font-family: "Open Sans Condensed", sans-serif;
}
h1 {
    font-size: 60pt;
    /*background-color: rgb(120, 30, 60); = background-color: #851944*/
    background-color: #851944;
    /*           vermelho/verde/azul color: #FAFFFA; = color: rgb(250, 255, 250)*/
    color: rgb(255, 255, 255);
    text-align: center;
}

h2 {
    font-size: 30pt;
}

p {
    text-align: justify;
}