body{
    font-family: "Crimson Text", serif;
    background-color: #F2FFFC;
}
main h1, h2{
    font-family: "Open Sans Condensed", sans-serif;
}
main h1 {
    font-size: 60pt;
    /*background-color: rgb(120, 30, 60); = background-color: #851944*/
    background-color: #851944;
    /*           vermelho/verde/azul color: #FAFFFA; = color: rgb(250, 255, 250)*/
    color: rgb(255, 255, 255);
    text-align: center;
}

main h2 {
    font-size: 30pt;
}

p {
    text-align: justify;
}

main a {
    color: #851944;
}

#image_joao_da_silva{
    top: 0;
    right: 0;
    position: fixed;
    border: 5px solid black;
    margin: 0;
    background-color: #3C1D3D;
}
aside h1{
    color: #F2FFFC;
}

aside nav ul{
    list-style: none;
    padding-left: 0;
}

aside nav ul li a{
    text-decoration: none;
    /*inherit = Esse valor faz com que a propriedade assuma o valor que foi definido em seu pai (ou ancestral, de um modo geral) em vez de assumir um outro valor.*/
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

aside nav ul li a:hover{
    text-decoration: underline;
}

blockquote{
    background-color: #D9E5E3;
}

footer{
    background-color: black;
    color: white;
}