/*.leia-mais {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
}*/

.leia-mais {
    padding: .5em;
    margin: 1em;
    display: block;
    font-size: 1.5em;
    text-align: center;
    background-color: #E6E7E8;
}

.post-blo {}

article~article {
    padding-top: 30px;
    margin-top: 20px;
    background-image: linear-gradient( to right, rgba(200, 200, 200, 0), rgba(200, 200, 200, 1), rgba(200, 200, 200, 0));
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: top center;
}