form {
    width: 600px;
    margin: auto;
    position: relative;
}

.nova-linha {
    display: block;
    clear: both;
}

.input,
textarea {
    width: 100%;
    box-shadow: 0 0 1px gray;
}


/* Selecionamos apenas os campos de texto */

input[type="text"],
input[type="email"],
textarea {
    box-shadow: 0 0 1px gray;
    line-height: 2em;
    /* Força o navegador a usar a mesma fonte da página */
    font-family: inherit;
    /* Inclusive o tamanho dela */
}


/* deixar só esse campo sem ocupar a tela toda */

input[name="outro-assunto"] {
    width: auto;
}

input:invalid {
    box-shadow: 0 0 3px red;
}

input:focus,
textarea:focus {
    background-color: rgba(248, 235, 125, 0.3);
}

legend,
label[for="mensagem"] {
    font-weight: bold;
    margin-top: 1em;
}

fieldset label {
    font-weight: bold;
}


/* alguns ajustes para o campo "Outro": deixar ele na mesma linha dos outros assuntos */

fieldset>fieldset {
    display: inline;
}

.field {
    padding: .2em;
    margin: 3px;
}

select:invalid {
    color: gray;
}

button:hover,
button:focus {
    background-color: #8C1D3D;
}

button {
    position: absolute;
    text-align: center;
    right: 0;
    font-family: "Open Sans Condensed", sans-serif;
    background-color: #3C1D3D;
    width: 250px;
    height: 60px;
    color: #FFF;
    font-weight: bold;
    font-size: 1.2em;
    border: 0;
}

textarea {
    resize: none;
}

fieldset:nth-child(1) label~label {
    margin-top: 2px;
}

.img-input {
    width: 35px;
    height: 34px;
    background-color: #851944;
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

.usuario-contato {
    background-image: url(../imagens/usuario.png);
}

.email-contato {
    background-image: url(../imagens/email.png);
}

.input-img {
    width: 93%;
    float: left;
}

input[id="outro-assunto"] {
    display: none;
}

input[value="outro"]:checked~input {
    display: inline;
}