form {
    width: 30em;
    margin: auto;
}

form legend {
    display: block;
}


/*form input {
    width: 30em;
}*/

fieldset legend {
    text-shadow: 0 0 2px black;
}

fieldset label {
    font-weight: bold;
}

.outros-assuntos-field {
    display: inline;
}

.field {
    padding: .2em;
    margin: 3px;
}

.field .outros-assuntos-field {
    border: .01em solid black;
}

select:invalid {
    color: gray;
}