body {
    text-align: center;
}

.topo {
    background-color: #851944;
    height: 18em;
    border-bottom: 0.4em solid black;
    color: white;
}

.minha-imagem img {
    height: 200px;
    margin: 1.25em 0 0.5em 0;
}

.titulo-home {
    font-size: 2em;
    font-family: sans-serif;
    font-weight: bold;
}

.titulo-sub-titulo {}

.tamanho-section {
    height: 16em;
}

.ola-jose-silva {
    border-bottom: 0.4em solid black;
    background-color: inherit;
    padding-top: 100px;
}

.ola-jose-silva p {
    color: gray;
    text-align: left;
    width: 50em;
}

.ola {
    font-size: 3em;
    margin-left: 5ch;
}

.meu-nome {
    font-size: 2em;
    color: black;
}

.eu-contruo-nova-linha {
    display: block;
    text-align: right;
}

.qualidade-site {
    font-size: 3em;
    color: red;
}

section .botao-veja-mais {
    text-align: center;
    width: 100%;
    margin-top: 3em;
}

.botao-conhece-sobre {
    border: 0.2em solid black;
    padding: 0.5em 2em;
    background-color: #851944;
    color: white;
}

.trabalhos {
    border-bottom: 0.4em solid black;
    background-color: purple;
}

.trabalhos .trabalho-bmw,
.trabalho-ibm,
.trabalho-uol {
    display: inline;
}

.blog {
    border-bottom: 0.4em solid red;
    background-color: gray;
}

.vamos-conversar {
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
}