html {
    text-align: center;
}

main {
    width: 100%;
}

main p{
    margin:0;
}

section{
    height: 23em;
    box-sizing: border-box;
}

.topo {
    background-color: #851944;
    border-bottom: 0.4em solid black;
    color: white;
    height: 18em;
}

.minha-imagem img {
    height: 200px;
    margin: 1.25em 0 0.5em 0;
}

.titulo-home {
    font-size: 2em;
    font-family: sans-serif;
    font-weight: bold;
}

.titulo-sub-titulo {}

.p-link{
    width: 100%;
    text-align: center;
    margin-top: 2.5em;
    clear: both;
}

.apresentacao {
    border-bottom: 0.4em solid black;
}

.apresentacao-texto {
    color: gray;
    text-align: left;
    padding: 3em;
}

.ola {
    font-size: 3em;
    margin-left: 2em;
}

.meu-nome {
    font-size: 2em;
    color: black;
}

.eu-construo {
    margin-left: 16em;
}

.nova-linha {
    display: block;
    text-align: left;
}

.qualidade-site {
    font-size: 3em;
    color: #851944;
}

.botao {
    border: 0.2em solid black;
    padding: 0.5em 2em;
    background-color: #851944;
    color: white;
    text-align: center;
    
    /*width: 100%;
    margin: 4em;*/
}

.trabalhos {
    border-bottom: 0.4em solid black;
    background-color: #3C1D3D;
}

.apresentacao,.trabalhos,.blog,.vamos-conversar p{
    color: white;
}

.paragrafo{
    font-size: 3em;
    margin-left: 1em;
}

.sub-paragrafo{
    font-size: 1em;
    margin-left: 3em;
}

.trabalho-img{
    margin: 0 3em;
    border: 0.4em solid black;
    box-sizing: border-box;
}

.trabalho-img img{
    /*display: inline;*/
    width: 33%;
    /*margin: 0;
    padding: 0;*/
    
}

.blog {
    border-bottom: 0.4em solid red;
    background-color: gray;
}

.blog ul{
    text-align: left;
    margin-left: 3em;
    margin-top: 2em;
    
}

.blog a{
    color: #FCF;
}

.vamos-conversar a{
    color: #F99;
}

.vamos-conversar {
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
}

.estilo-link{
    text-decoration: underline;
    color: #F99;
}