html {
    text-align: center;
}

main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}

main p {
    margin: 0;
}

.secao {
    height: 23em;
    box-sizing: border-box;
}

.topo {
    background-color: #851944;
    border-bottom: 0.4em solid black;
    color: white;
    height: 18em;
    position: relative;
}

.minha-imagem img {
    height: 200px;
    margin: 1.25em 0 0.5em 0;
}

.titulo-home {
    font-size: 2em;
    font-family: sans-serif;
    font-weight: bold;
}

.palavra-home {
    color: #D5447E;
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    position: absolute;
}

.eficiencia {
    top: 20%;
    left: 75%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.boas-praticas {
    top: 70%;
    left: 20%;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

.codigo-limpo {
    top: 45%;
    left: 10%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.css3 {
    top: 50%;
    left: 30%;
}

.html5 {
    top: 40%;
    left: 80%;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

.javascript {
    top: 10%;
    left: 60%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.acessibilidade {
    top: 30%;
    left: 25%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.responsivo {
    top: 15%;
    left: 15%;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

.otimizacoes {
    top: 60%;
    left: 70%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.agilidade {
    top: 10%;
    left: 30%;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

.design {
    top: 35%;
    left: 65%;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

.p-link {
    width: 100%;
    text-align: center;
    margin-top: 2.5em;
    clear: both;
}

.apresentacao {
    border-bottom: 0.4em solid black;
}

.apresentacao-texto {
    color: gray;
    text-align: left;
    padding: 3em;
}

.ola {
    font-size: 3em;
    margin-left: 2em;
}

.meu-nome {
    font-size: 2em;
    color: black;
}

.eu-construo {
    margin-left: 16em;
}

.nova-linha {
    display: block;
    text-align: left;
}

.qualidade-site {
    font-size: 3em;
    color: #851944;
}

.botao {
    border: 0.2em solid black;
    padding: 0.5em 2em;
    background-color: #851944;
    color: white;
    text-align: center;
}

.trabalhos {
    border-bottom: 0.4em solid black;
    background-color: #3C1D3D;
}

.apresentacao,
.trabalhos,
.blog {
    color: white;
}

.paragrafo {
    font-size: 3em;
    margin-left: 1em;
    text-align: left;
}

.sub-paragrafo {
    font-size: 1em;
    margin-left: 3em;
    text-align: left;
}

.trabalho-img {
    margin: 0 3em;
    border: 0.4em solid black;
    overflow: hidden;
}

.trabalho-img li {
    float: left;
    width: 33.333%;
}

.trabalho-img img {
    width: 100%;
    display: block;
}

.blog {
    border-bottom: 0.4em solid #851944;
    background-color: #999;
    position: relative;
}

.blog ol {
    text-align: left;
    margin-left: 3em;
    margin-top: 2em;
}

.blog a {
    color: #FCF;
}

.selecionado {
    background-color: #F2FFFC;
    width: 80%;
}

.inicio-post {
    background-color: #F2FFFC;
    width: 30em;
    position: absolute;
    top: 5em;
    right: 3em;
    height: 6em;
    padding: 1em;
    color: #000;
}

footer {
    background-color: #000;
    color: #FFF;
}

footer a {
    color: #F99;
}