html {
    font-size: 20px;
}

body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    line-height: 1.5;
}

h1,
h2,
.subtitulo-principal {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h1 {
    text-transform: uppercase;
}

.titulo-principal {
    font-size: 300%;
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 2rem;
    border-bottom: .5rem solid #000;
}

.subtitulo-texto {
    font-size: 1.6em;
    clear: both;
}

main a {
    color: #851944;
}

main p {
    text-align: justify;
    margin: 1.1em 0;
}

.navegacao-site {
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
}

.navegacao-site a {
    color: inherit;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-transform: lowercase;
}

.navegacao-site h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

.rodape-pagina {
    color: #FFF;
    padding: 20px;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    text-shadow: 1px 1px 2px black;
    background-image: radial-gradient(ellipse at left bottom, rgba(60, 29, 61, 0.8) 65%, black 65%, black 70%, transparent 70%);
    background-repeat: no-repeat;
    background-size: 25% 100%;
}

.container {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.icones-redes-sociais li {
    display: inline-block;
}

.icones-redes-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
}

.github {
    background-image: url(../imagens/github.png);
}

.twitter {
    background-image: url(../imagens/twitter.png);
}

.linkedin {
    background-image: url(../imagens/linkedin.png);
}

main {
    width: calc(100% - 0.9 * 300px);
    float: left;
    padding-bottom: 80px;
}

.minha-foto,
.navegacao-site {
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    box-sizing: border-box;
}

.navegacao-site {
    width: calc(0.9 * 300px);
    float: right;
    position: relative;
    top: 300px;
}

.minha-foto {
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
}

main a:hover,
main a:focus,
footer a:hover,
footer a:focus {
    color: red;
}

.navegacao-site a:hover,
.navegacao-site a:focus {
    text-shadow: 0 0 2px pink;
}

.icones-redes-sociais a {
    position: relative;
}

.icones-redes-sociais a:hover::after,
.icones-redes-sociais a:focus::after {
    content: "";
    width: 1em;
    height: 1em;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    background-color: #FFF;
    position: absolute;
    transform: rotate(45deg);
    top: -30%;
    right: 25%;
    z-index: 9999;
}

.icones-redes-sociais a:hover::before,
.icones-redes-sociais a:focus::before {
    content: attr(data-legenda);
    text-align: center;
    color: #000;
    border: 2px solid black;
    width: 110px;
    height: 90px;
    border-radius: 10px;
    background-color: #FFF;
    position: absolute;
    bottom: 100%;
    right: 0;
    text-indent: 0;
    line-height: 2;
    font-size: .75em;
    z-index: 999;
}