<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Listando os produtos da loja...</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Livro de node js</td>
                </tr>
            </tbody>
        </table>
    </body>
<html>