<div>
    <form action="/Categoria/Adiciona">
        <label for="nome">Nome:</label>
        <input  class="form-control" id="nome" name="Nome" />

        <label for="descricao">Descrição:</label>
        <input  class="form-control" id="descricao" name="descricao" />
        <br />
        <input type="submit" value="Cadastrar" />
    </form>
</div>