@model CaelumEstoque.Models.CategoriaDoProduto
<div>
    <p>Nome: @Model.Nome</p>
    <p>Descrição: @Model.Descricao</p>
    @Html.ActionLink("Voltar para a lista de categoria", "Index", "Categoria")
</div>