@model IList<CaelumEstoque.Models.Usuario>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>
                    <td>@usuario.Id</td>
                    @*<td><a href="/Usuario/Visualiza/@produto.Id">@usuario.Nome</a></td>*@
                    @*<td>@Html.ActionLink(usuario.Nome, "VisualizarUsuario", new { id = produto.Id })</td>*@
                    <td>@Html.RouteLink(usuario.Nome, "VisualizarUsuario", new { id = usuario.Id })</td>
                </tr>
            }
        </tbody>
    </table>
</div>