/*ajuste cabeçalho - início*/

.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}


/*ajuste cabeçalho - fim*/


/*ajuste rodapé patrocinadores - início*/

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}


/*ajuste rodapé patrocinadores - fim*/


/*ajuste rodapé principal - início*/

.rodapePrincipal-navMap-list {
    display: flex;
    /*flex-direction: column;
    flex-wrap: wrap;*/
    flex-flow: column wrap;
    height: 250px;
}


/*ajuste rodapé principal - fim*/


/*ajuste conteúdo principal - início*/

.conteudoPrincipal-cursos {
    display: flex;
    flex-flow: row wrap;
}

.conteudoPrincipal-cursos-link {
    width: 23%;
    margin: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
    margin-left: 0;
}


/*ajuste conteúdo principal - fim*/


/*iniciando layout responsivo para celular*/

.cabecalhoPrincipal-nav {
    flex-direction: column;
}

.cabecalhoPrincipal .container {
    flex-direction: column;
    align-items: initial;
    text-align: center;
}