.secao {
    float: left;
    width: 33.333%;
}

.mini {
    float: left;
    width: 50%;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.logo,
.secao {
    padding: 0 1%;
}

img {
    max-width: 100%;
}

.logo,
.busca,
.barra-nav,
.menu-principal {
    display: inline-block;
    vertical-align: middle;
}

.menu-principal li {
    float: left;
}

header {
    padding: 0.5em 0;
}

.destaques {
    margin-top: 1em;
}

.barra-nav {
    margin: 0.4em 0;
}

@media (min-width: 600px) {
    html {
        font-size: 1.125em;
    }
}

@media (min-width: 1000px) {
    html {
        font-size: 1.25em;
    }
}

.secao {
    width: 100%;
}

@media (min-width: 600px) {
    .secao {
        width: 50%;
    }
}

@media (min-width: 1000px) {
    .secao {
        width: 33.333%;
    }
}

@media (max-width: 600px) {
    .barra-nav {
        background: #f0f0f0;
        padding: 1em;
        margin: 0;
        width: 90%;
        height: 100%;
        max-width: 320px;
        top: 0;
        position: fixed;
        left: -90%;
        z-index: 1;
        transition: left 0.3s ease-out;
    }
    .menu-ativo .barra-nav {
        left: 0;
    }
    .menu-principal li {
        padding: 1em 0;
        width: 100%;
    }
    .menu-abrir,
    .menu-fechar {
        margin: 1em;
        border: 0;
        background: transparent;
        background-image: url(../img/burger1.png);
        background-repeat: no-repeat;
        background-position: 25%;
        background-size: 100px;
        width: 30px;
        height: 27px;
    }
    .menu-ativo:after {
        content: "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.4);
    }
}

@media not all and (max-width: 600px) {
    .menu-abrir,
    .menu-fechar {
        display: none;
    }
}